<!DOCTYPE html>
<html lang="en" ng-app="flickrUserSearch">
<head>
  <meta charset="utf-8">
  <title>Flickr Double</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/flickrUserSearchController.js"></script>
</head>

  <body ng-controller="flickrUserSearchController as searchCtrl">
    <button ng-click=searchCtrl.doSearch()>Search</button>

    <div ng-repeat="item in searchCtrl.searchResult.items">
     Login: {{item.login}} </br>
     Avatar Url: {{item.avatar_url}} </br>
     HTML Url: {{item.html_url}} </br>
    </br>
    </div>
  </body>
</html>
